<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/layout">
<title layout:fragment="title">Tickets</title>
<div layout:fragment="content">
  <h1 class="section_title">Sprzedaż biletów</h1>
  <div class="screening_sale_page">
    <h2>Dostępne seanse</h2>
    <div class="screening_item">
      <span class="date">22.12.2022 16:45</span>
      <span class="title">Dziwny świat</span>
      <button class="edit_button">Wybierz</button>
    </div>
    <div class="screening_item">
      <span class="date">22.12.2022 16:45</span>
      <span class="title">Dziwny świat</span>
      <button class="edit_button">Wybierz</button>
    </div>
    <div class="screening_item">
      <span class="date">22.12.2022 16:45</span>
      <span class="title">Dziwny świat</span>
      <button class="edit_button">Wybierz</button>
    </div>
  </div>
</div>
</html>