<header th:fragment="myheader" xmlns:th="http://www.thymeleaf.org">
    <nav>
        <div class="navbar">
            <div class="navbar-content">
                <div class="logo">
                    <a href="/home"><img alt="logo" height="45px" src="/images/logo.png"></a>
                </div>
                <ul>
                    <li class="nav_elem" id="halls"><a href="/halls">Sale</a></li>
                    <li class="nav_elem" id="sales"><a href="/screenings">Sprzedaż</a></li>
                    <li class="nav_elem" id="repertoire"><a href="/repertoire">Repertuar</a></li>
                    <li class="nav_elem"><a href="/ticket-types/prices">Edytuj bilety</a></li>
                    <li class="nav_elem"><a href="/user/login">Konto</a></li>
                    <li class="nav_elem"><a href="/loyalty-card">Karta Klienta</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
